:root {
    --font: "Roboto Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #050505;
    background-image: 
        linear-gradient(rgba(0, 191, 255, 0.05) 1px, transparent 1px), 
        linear-gradient(90deg, rgba(0, 191, 255, 0.05) 1px, transparent 1px);
    background-size: 50px 50px;
    font-family: var(--font);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.logo a{
    text-decoration: none;
}

.logo h1 {
    color: white;
    font-size: 2em;
    letter-spacing: 2px;
}

.logo span {
    color: #00bfff;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-links a{
    color: white;
    transition: all 0.3s ease;
}

.social-links a:hover{
    color: #00bfff;
    transform: translateY(-2px);
    filter: drop-shadow(
        0 0 8px rgba(0, 191, 255, 0.8)
    );
}

.sr-only {
    position: absolute;
    left: -9999px;
}

.hero h1 {
    font-size: clamp(2.5rem, 5vw, 5rem);
    color: white;
    text-transform: uppercase;
}

.hero span {
    color: #00bfff;
    text-shadow: 
        0 0 5px #00bfff,
        0 0 15px #00bfff
    ;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
    padding: 20px;
    gap: 20px;
}

.hero p {
    color: #b0b0b0;
    max-width: 700px;
    margin-top: 15px;
    line-height: 1.6;
    font-size: 1.5rem;
}

.busca-jogo {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.busca-jogo input{
    width: 450px;
    padding: 15px;
    border: 1px solid rgba(0, 191, 255,  0.2);
    border-radius: 10px;
    background: #111827;
    color: white;
    outline: none;
}

.busca-jogo input:focus {
    border-color: #00bfff;
    box-shadow:
        0 0 15px rgba(0, 191, 255, .3);
}

.busca-jogo button {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background: #00bfff;
    color: #050505;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.busca-jogo button:hover {
    box-shadow: 0 0 20px rgba(0, 191, 255, 0.6);
}

.game-section {
    padding: 60px 40px;
}

.game-container {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    gap: 25px;
    margin-top: 30px;
}


.game-card {
    width: 500px;
    background: #111827;
    border: 1px solid rgba(0, 191, 255, .1);
    border-radius: 15px;
    overflow: hidden;
    transition: .3s;
}

.game-card:hover {
    transform: translateY(-5px);
    box-shadow: 
        0 0 20px rgba(0, 191, 255, .3);
}

.game-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    max-width: 500px;
}

.game-info {
    padding: 20px;
    font-family: var(--font);
}

.game-info h3{
    color: white;
}

.game-meta{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #b0b0b0;
}

.game-info button {
    width: 100%;
    margin-top: 32px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #00bfff;
    color: #050505;
    cursor: pointer;
    font-family: var(--font);
    font-size: 1rem;
}

.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.section-header h2{
    font-family: var(--font);
    color: white;
    font-size: 2rem;
}

.section-header p{
    color: #b0b0b0;
    margin-top: 10px;
}